{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Cookified
      {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'base/css/base.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'base/js/base.js' %}"></script>

    {% block head %}

    {% endblock %}
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
    </nav>
    <div class="cookie-warning">
      <b>WARNING:</b>
      <span>This website uses cookies.</span>
      <span>All cookies are essential for the function of this website.</span>
      <span>No cookies are used for the collection of personal data.</span>
      <span>By using this website you are accepting these cookies.</span>
      <button type="button" onclick="acceptCookies()">Accept Cookies</button>
    </div>
    <main>
      {% block main %}

      {% endblock %}
    </main>
  </body>
</html>
