main {
    .main-section {
        font-size: 2rem;
        text-align: center;
    }

    .fineprint-section {
        border: 1px solid;
        padding: 5px;
    }

    .fineprint-section p {
        margin: 0;
        padding: 5px;
    }

    .fineprint-section a {
        color: var(--text);
    }


    .outer-pie {
        width: min(300px, 100%);
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-image: conic-gradient(var(--green), var(--yellow), var(--red) 25%);
        margin-inline: auto;
        margin-top: 40px;
        margin-bottom: 20px;
        border: 1px solid
    }

    .outer-pie-cut {
        --pie-percent: 70%;
        width: 100%;
        aspect-ratio: 1/1;

        background-image: conic-gradient(transparent 0 var(--pie-percent), var(--focused-background) var(--pie-percent) 100%);

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .inner-pie {
        width: calc(100% - 50px);
        aspect-ratio: 1/1;
        background-color: var(--background);
        border-radius: 50%;
        font-size: 2rem;
        border: 1px solid;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    .inner-pie select,
    .inner-pie button {
        border: 1px solid;
        color: var(--text);
        padding: 5px;
        border-radius: 5px;
        margin: 0;
        text-decoration: none;
    }

    .inner-pie button {
        background-color: var(--red);
    }

    .inner-pie select {
        background-color: var(--green)
    }

    .inner-pie p {
        margin: 3px;
        display: flex;
        gap: 5px;
    }
}