{% extends 'extends.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static '/base/css/infographic.css' %}" />
{% endblock %}

{% block testname %}
  Infographic
{% endblock %}

{% block main %}
  <h1>Political Socialization Through Major Events</h1>
  <ul>
    <li class="c1">
      <h2>#1 Be Born</h2>
      <p>It is very hard to become politically socialized if you don't have functional thought. Due to this reason you must first be born.</p>
    </li>
    <li class="c2">
      <h2>#2 Learn From Your Parents</h2>
      <p>Most of your political socialization comes from your parents it's worth your time to learn from them in most cases.</p>
    </li>
    <li class="c3">
      <h2>#3 Take a Civics Class</h2>
      <p>Studies show that people who took a civics class during highschool are more likely to be politically active later in their lives.</p>
    </li>
    <li class="c4">
      <h2>#4 Turn 18</h2>
      <p>Unfortunatly being under the age of 18 means you don't really mean all that much in terms of voting power. You will need to turn 18 before imposing your radical political ideas on others.</p>
    </li>
    <li class="c5">
      <h2>#5 Register to Vote</h2>
      <p>Ok, so now your 18. You still can't vote quite yet; first you need to register to vote. Many people fail to do this, making all of political socialization rather pointless.</p>
    </li>
    <li class="c6">
      <h2>#6 Go Out to Vote</h2>
      <p>Even if you are registered you still might not feel like voting. I promise you its worth your time. GO VOTE!</p>
    </li>
    <li class="c7">
      <h2>#7 Grow Old</h2>
      <p>As you get older you tend to become more conservitive minded. This effects how you vote and is a form of political socialization.</p>
    </li>
  </ul>
{% endblock %}
